<div class="flex justify-center">
  <div class="product-card px-1">
    @if (isOutOfStock()) {
      <span class="out-of-stock-badge">
        {{ "unAvaliable" | translate }}
      </span>
    }

    <div class="wishIcon px-2 text-right py-1">
      <i class="fa-solid fa-heart text-xl cursor-pointer"></i>
    </div>

    <div
      class="image-container cursor-pointer"
      [routerLink]="['/details', product.Id]"
    >
      @if (getProductImage(product)) {
        <img
          [src]="'data:image/jpeg;base64,' + getProductImage(product)"
          [alt]="product.NameAr"
        />
      } @else {
        <img src="assets/images/Product.png" [alt]="product.NameAr" />
      }
    </div>

    <div class="product-body">
      <div
        [routerLink]="['/details', product.Id]"
        [state]="{ from: currentUrl }"
        class="cursor-pointer"
      >
        <div class="product-title">
          <h3>{{ product.NameAr }}</h3>
        </div>

        @if (product.Description) {
          <p class="text-xs text-gray-500 my-1 line-clamp-2">
            {{ product.Description }}
          </p>
        }

        @if (product.ItemUnits && product.ItemUnits.length > 0) {
          <div class="price my-2">
            <span class="current-price">
              {{ product.ItemUnits[0].Price }} EGP
            </span>
          </div>
        }
      </div>

      @if (product.ItemUnits && product.ItemUnits.length > 0) {
        <app-add-to-cart [product]="product"></app-add-to-cart>
      }
    </div>
  </div>
</div>
