<footer class="footer">
  <div class="footer-container container mx-auto">
    <span class="rights">
      © 2026
      <a href="#" class="brand-link">innovationk</a>.
      {{ "footer.allrightsreserved" | translate }}
    </span>

    <ul class="footer-links">
      <li>
        <a href="#">{{ "footer.about" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "footer.licensing" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "footer.privacypolicy" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "footer.contact" | translate }}</a>
      </li>
    </ul>
  </div>
</footer>
