.iconSearch {
  left: 40%;
  top: 30%;
  position: absolute;
}

.form-control {
  width: 50% !important;
  text-align: center;
  border-radius: 999px;
}

@media (max-width: 768px) {
  .products {
    margin-top: 0px;
  }
  .input-group {
    width: 100%;
  }
  .iconSearch {
    display: none;
  }
  .form-control {
    width: 100% !important;
  }
  .heading h3 {
    font-size: 1.5rem !important;
    margin-top: 0 !important;
  }
  .heading p {
    font-size: 0.8rem;
  }
}
