<footer
  class="bg-white rounded-lg shadow-sm my-2 mx-4 dark:bg-gray-800 relative mt-12"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400 rights"
      >© 2025 <a href="#" class="hover:underline">innovationk</a>
      {{ "footer.allrightsreserved" | translate }}
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
    >
      <li>
        <a href="#" class="= hover:text-blue-500 me-4 md:me-6">
          {{ "footer.about" | translate }}</a
        >
      </li>
      <li>
        <a href="#" class="= hover:text-blue-500 me-4 md:me-6">
          {{ "footer.licensing" | translate }}</a
        >
      </li>
      <li>
        <a href="#" class="= hover:text-blue-500 me-4 md:me-6">{{
          "footer.privacypolicy" | translate
        }}</a>
      </li>
      <li>
        <a href="#" class="= hover:text-blue-500">{{
          "footer.contact" | translate
        }}</a>
      </li>
    </ul>
  </div>
</footer>
