<footer class="footer">
  <div class="footer-container">
    <span class="rights">
      © 2025
      <a href="#">innovationk</a>
      {{ "footer.allrightsreserved" | translate }}
    </span>

    <ul class="footer-links">
      <li>
        <a href="#">{{ "footer.about" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "footer.licensing" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "footer.privacypolicy" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "footer.contact" | translate }}</a>
      </li>
    </ul>
  </div>
</footer>
