<section class="relative product-detail-section">
  <div class="product-detail">
    <!-- Image Section -->
    <div class="image-section pt-12">
      <img
        src="./assets/images/Product.png"
        alt="Product Image"
        class="main-image"
      />

      <div class="thumbnails">
        <img src="./assets/images/Product.png" alt="Thumbnail" />
        <img src="./assets/images/Product.png" alt="Thumbnail" />
        <img src="./assets/images/Product.png" alt="Thumbnail" />
      </div>
    </div>

    <!-- Info Section -->
    <div class="info-section pt-12">
      <h2 class="mx-1 font-bold">{{ detailsProduct.NameAr }}</h2>

      <div class="flex align-middle my-2">
        <span class="text-muted font-bold small mx-1">By:</span>
        <img
          src="./assets/images/Offers/offer-2.jpeg"
          width="60px"
          alt="Brand"
        />
      </div>

      <ul class="list-unstyled product-meta">
        <li>
          <strong>{{ "productdet.material" | translate }}: </strong
          >{{ "productdet.material" | translate }}
        </li>
        <li>
          <strong>{{ "productdet.blend" | translate }}: </strong
          >{{ "productdet.blend" | translate }}
        </li>
        <li style="width: 300px; display: inline-block; line-height: 1.5">
          <strong>{{ "productdet.category" | translate }}:</strong>
          <span>{{ "productdet.categoryname" | translate }}</span>
        </li>
      </ul>

      <p class="my-2">
        Fully Description Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Quam, sunt?
      </p>

      <div class="flex align-middle justify-start my-2">
        <p class="old-price">{{ "productdet.OldPriceEGP" | translate }}</p>
        <p class="price mx-2">{{ "productdet.priceEGP" | translate }}</p>
      </div>

      <div class="benefits flex flex-col gap-2 my-2">
        <div class="flex align-middle">
          <i class="fas fa-box text-warning me-2"></i>
          <span class="font-bold"
            >{{ "productdet.totalquentity" | translate }}:</span
          >
          <p class="font-bold text-muted mx-2 text-green-500">
            {{ detailsProduct.TotalOutQty }} {{ "productdet.pice" | translate }}
          </p>
        </div>

        <div class="sold flex align-middle">
          <i class="fas fa-shopping-basket text-secondary me-2"></i>
          <span class="font-bold"
            >{{ "productdet.createdat" | translate }}:</span
          >
          <p class="mx-2 font-bold text-muted">
            {{ detailsProduct.CreatedDate | date }}
          </p>
        </div>
      </div>

      <button
        class="add-to-cart"
        (click)="addToCart(detailsProduct.Id, detailsProduct.valueOfProfit)"
      >
        <i class="fas fa-shopping-cart me-2"></i>
        {{ "products.addtocart" | translate }}
      </button>
    </div>
  </div>

  <div class="backIcon absolute cursor-pointer" (click)="selected()">
    <i class="fa-regular fa-circle-xmark"></i>
  </div>
</section>
