<section class="cart-section mt-20">
  <div
    class="w-full max-w-7xl h-full py-4 bg-main-light shadow rounded-lg mb-5 mx-auto"
  >
    <div class="flex justify-center items-center h-full">
      <div class="w-11/12 lg:w-10/12">
        <!-- Cart Header -->
        <div class="flex justify-between items-center mb-4">
          <h3 class="font-bold mb-0">
            {{ "cart.shoppingcart" | translate }}
          </h3>

          @if (isCartHasProducts) {
          <button
            (click)="deleteAllItems()"
            class="border border-red-500 text-red-500 hover:bg-red-50 mt-1 text-sm px-3 py-1 rounded-md"
          >
            {{ "cart.deleteallitems" | translate }}
            <i class="fa-solid fa-trash-can mx-1"></i>
          </button>
          }@else {
          <h3 class="text-3xl font-serif font-bold text-red-600">
            {{ "cart.cartisempty" | translate }}
          </h3>
          }
        </div>

        <!-- Cart Item -->
        @for (product of cardUserItems(); track product.ProductId) {
        <div class="card shadow-sm rounded-xl mb-4 bg-gray-50">
          <div class="p-3">
            <div class="flex flex-col md:flex-row items-center gap-4">
              <div class="w-full md:w-2/12 text-center">
                <img
                  src="./assets/images/Product.png"
                  [alt]="product.ProductName"
                />
              </div>

              <div class="w-full md:w-3/12 text-center md:text-left">
                <h5 class="font-semibold mb-1">
                  {{ product.ProductName }}
                </h5>
              </div>

              <!-- Quantity -->
              <div class="w-full md:w-3/12 flex justify-center items-center">
                <div (click)="updateQuantityItem('minus', product.ProductId)">
                  <i
                    class="fa-solid fa-square-minus fa-xl text-red-500 cursor-pointer"
                  ></i>
                </div>

                <span class="fw-bold px-3 rounded">
                  {{ product.Quantity }}
                </span>

                <div (click)="updateQuantityItem('plus', product.ProductId)">
                  <i
                    class="fa-solid fa-square-plus fa-xl text-green-500 cursor-pointer"
                  ></i>
                </div>
              </div>

              <!-- Price -->
              <div class="w-6/12 md:w-2/12 text-center">
                <h6 class="font-bold mb-0 text-main">
                  {{ product.Price | currency : "GBP" }}
                </h6>
              </div>

              <!-- Delete -->
              <div
                class="w-6/12 md:w-2/12 text-center"
                (click)="deleteItem(product.ProductId)"
              >
                <i class="fas fa-trash text-red-500 fa-xl cursor-pointer"></i>
              </div>
            </div>
          </div>
        </div>
        }

        <!-- Discount -->
        <div class="card shadow-sm rounded-xl mb-4 discount-card">
          <div
            class="flex flex-col md:flex-row items-center justify-between gap-3 p-4"
          >
            <div class="flex-1">
              <label for="discount" class="form-label">
                {{ "cart.discountcode" | translate }}
              </label>
              <input
                type="text"
                id="discount"
                class="form-control flex justify-center items-center form-control-lg w-full border px-3 py-2 mt-3 rounded-lg"
                placeholder="{{ 'cart.entercode' | translate }}"
              />
            </div>
            <button
              class="border border-yellow-500 flex justify-center items-center text-yellow-600 hover:bg-yellow-50 py-2 px-3 rounded-md"
            >
              {{ "cart.apply" | translate }}
            </button>
          </div>
        </div>

        <!-- Total -->
        <div class="card shadow-sm rounded-xl mb-4 bg-white">
          <div class="flex justify-between items-center p-4">
            <div class="flex items-center">
              <i class="fas fa-money-bill-wave fa-2x text-green-600 mx-3"></i>
              <h5 class="mb-0 font-semibold">
                {{ "cart.carttotal" | translate }}
              </h5>
            </div>
            <span class="text-lg font-bold">
              {{ totalPrice | currency : "GBP" }}
            </span>
          </div>
        </div>

        <!-- Checkout -->
        @if (isCartHasProducts) {
        <div
          data-aos="fade-up"
          data-aos-delay="200"
          class="text-center mt-4 payment-section py-4"
        >
          <div class="mt-8">
            <button
              type="submit"
              (click)="paymentMethods()"
              class="login-button w-full"
              [disabled]="!isCartHasProducts"
              [ngClass]="{ disabledButton: !isCartHasProducts }"
            >
              {{ "cart.purchaseandpaymentconfirmation" | translate }}
            </button>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>

<!--  Payment Overlay  -->
