.login-card {
  width: 70% !important;
  padding: 25px 30px;
}
.login-form {
  gap: 8px !important;
}
.login-button {
  padding: 6px !important;
}
.password-checklist {
  p {
    color: var(--color-muted, #6c757d);
    transition: all 0.3s ease;

    i {
      margin-right: 8px;
      font-size: 0.75rem;
      transition: all 0.3s ease;
    }

    &.invalid {
      color: #ef4444;
    }

    &.valid {
      color: #22c55e;
      text-decoration: line-through;
    }
  }
}

@media (max-width: 768px) {
  .login-wrapper {
    width: 100% !important;
  }
}
