<section class="login-section">
  <div class="image">
    <img src="./assets/images/Background/Auth.png" class="" alt="" />
  </div>
  <div class="login-wrapper">
    <div class="login-card" style="width: 50%">
      <h2 class="login-title font-semibold font-serif">
        {{ "auth.register.registernow" | translate }}
      </h2>
      <form
        class="login-form"
        [formGroup]="registerForm"
        (ngSubmit)="sendResgisterData()"
      >
        <!-- Username -->
        <div class="input-group">
          <i class="fa-solid fa-user input-icon iconsColor"></i>
          <input
            type="text"
            placeholder="{{ 'auth.login.username' | translate }}"
            class="input-field form-control"
            formControlName="userName"
          />
        </div>
        @if (getErrorMessage('userName')) {
        <div class="error-message text-red-500">
          {{ getErrorMessage("userName") }}
        </div>
        }

        <!-- Email -->
        <div class="input-group">
          <i class="fa-solid fa-envelope input-icon iconsColor"></i>
          <input
            type="email"
            placeholder="{{ 'auth.register.enteryouremail' | translate }}"
            class="input-field form-control"
            formControlName="email"
          />
        </div>

        @if(getErrorMessage('email')){
        <div class="error-message text-red-500">
          {{ getErrorMessage("email") }}
        </div>
        }

        <!-- Password -->
        <div class="input-group">
          <i class="fa-solid fa-key input-icon iconsColor"></i>
          <input
            type="password"
            placeholder="{{ 'auth.login.password' | translate }}"
            class="input-field form-control"
            formControlName="password"
          />
        </div>
        @if (registerForm.get('password')?.errors?.['required'] &&
        registerForm.get('password')?.touched) {
        <div class="error-message text-red-500 mt-2">
          {{ "auth.validation.required" | translate }}
        </div>
        } @if((registerForm.get('password')?.touched ||
        registerForm.get('password')?.dirty) &&
        registerForm.get('password')?.invalid ){
        <div class="password-checklist mt-2 text-sm space-y-1">
          <p
            [class.valid]="!passwordControl.errors?.['minLength'] && passwordControl.value"
            [class.invalid]="passwordControl.errors?.['minLength'] && passwordControl.touched"
          >
            <i class="fa-solid fa-check"></i>
            {{ "auth.validation.password.minLength" | translate }}
          </p>
          <p
            [class.valid]="!passwordControl.errors?.['requireUppercase'] && passwordControl.value"
            [class.invalid]="passwordControl.errors?.['requireUppercase'] && passwordControl.touched"
          >
            <i class="fa-solid fa-check"></i>
            {{ "auth.validation.password.requireUppercase" | translate }}
          </p>
          <p
            [class.valid]="!passwordControl.errors?.['requireLowercase'] && passwordControl.value"
            [class.invalid]="passwordControl.errors?.['requireLowercase'] && passwordControl.touched"
          >
            <i class="fa-solid fa-check"></i>
            {{ "auth.validation.password.requireLowercase" | translate }}
          </p>
          <p
            [class.valid]="!passwordControl.errors?.['requireNumber'] && passwordControl.value"
            [class.invalid]="passwordControl.errors?.['requireNumber'] && passwordControl.touched"
          >
            <i class="fa-solid fa-check"></i>
            {{ "auth.validation.password.requireNumber" | translate }}
          </p>
          <p
            [class.valid]="!passwordControl.errors?.['requireSpecialChar'] && passwordControl.value"
            [class.invalid]="passwordControl.errors?.['requireSpecialChar'] && passwordControl.touched"
          >
            <i class="fa-solid fa-check"></i>
            {{ "auth.validation.password.requireSpecialChar" | translate }}
          </p>
        </div>
        }

        <!-- Submit -->
        <button
          type="submit"
          class="login-button disabled:bg-gray-400 disabled:cursor-not-allowed disabled:pointer-events-none"
          [disabled]="registerForm.invalid || isloading"
        >
          @if (isloading) {
          {{ "auth.login.loading..." | translate }}
          } @else {
          {{ "auth.register.register" | translate }}
          }
        </button>

        <hr class="divider" />

        <p class="text-center">
          {{ "auth.register.alreadyamember?" | translate }}
          <a routerLink="/auth/login" class="links">
            {{ "auth.login.loginnow" | translate }}
          </a>
        </p>
      </form>
    </div>
  </div>
</section>
