<div class="container m-auto px-4 sm:px-6">
  <section class="w-full mt-8 md:mt-16">
    <div class="heading text-center">
      <h3
        class="font-weight-bolder font-serif text-2xl sm:text-3xl md:text-4xl"
      >
        {{ "allcategories" | translate }}
      </h3>
      <p class="mb-6 md:mb-8 mt-2 text-muted text-sm sm:text-base">
        {{ "shopbyyourfavoritecategory" | translate }}
      </p>
    </div>

    <!-- Search Input Group -->
    <div class="search-wrapper m-auto relative">
      <input
        type="search"
        [(ngModel)]="text"
        class="form-control search-input"
        [placeholder]="'searchbycategoryname...' | translate"
      />
      <button class="search-btn" type="button" aria-label="Search">
        <i class="fa-solid fa-magnifying-glass search-icon"></i>
      </button>
    </div>

    <div
      class="section-content mt-10 md:mt-16 grid gap-4 sm:gap-6 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-5"
    >
      @for (item of filteredItems(); track item.Id) {
        <div class="flex justify-center w-full">
          <div
            class="product-card category-card relative flex flex-col justify-between p-3 rounded-lg border bg-white shadow-sm hover:shadow-md transition-all cursor-pointer w-full"
            [routerLink]="['/catDetails', item.Code]"
            [state]="{ from: currentUrl }"
          >
            <div class="wishIcon absolute top-2 right-2 z-10">
              <i
                class="fa-solid fa-heart text-lg sm:text-xl text-gray-400 hover:text-red-500 cursor-pointer"
              ></i>
            </div>

            <div
              class="image-container mb-3 flex justify-center items-center h-36"
            >
              <img
                [src]="'./assets/images/Category.png'"
                [alt]="item.NameAr || 'Item Image'"
                class="max-h-full object-contain"
              />
            </div>

            <div class="product-body text-end flex flex-col gap-1">
              <div class="product-title">
                <h3 class="font-bold text-gray-800 line-clamp-1">
                  {{ item.NameAr }}
                </h3>
              </div>
            </div>
          </div>
        </div>
      } @empty {
        <div class="col-span-full text-center py-8 text-gray-500">
          {{ "noresultsmatchedthesearchratio" | translate }}
        </div>
      }
    </div>
  </section>

  @if (pagination && pagination.TotalCount! > pagination.PageSize!) {
    <div class="my-8 md:my-12 flex justify-center pagination-wrapper">
      <ngb-pagination
        [collectionSize]="pagination.TotalCount!"
        [(page)]="pageNo"
        [maxSize]="3"
        [rotate]="true"
        [boundaryLinks]="true"
        [pageSize]="pagination.PageSize!"
        (pageChange)="page($event)"
      >
      </ngb-pagination>
    </div>
  }
</div>
