<div class="container m-auto">
  <!-- Heading -->
  <section>
    <div class="w-full mt-16 products">
      <div class="heading text-center">
        <h3 class="mt-8 font-weight-bolder font-serif text-4xl">
          {{ "homecomponent.Shopamongmanyproducts" | translate }}
        </h3>
        <p class="mb-8 mt-1 text-1xl">
          {{ "homecomponent.enjoythemostpopularproducts" | translate }}
        </p>
      </div>

      <!-- Search -->
      <div class="search-wrapper m-auto">
        <input
          type="search"
          [(ngModel)]="text"
          class="form-control"
          [placeholder]="'homecomponent.searchbyproductname' | translate"
        />
        <button class="search-btn" type="button" aria-label="Search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>

      <!-- Products Grid -->
      <div
        class="section-content mt-16 grid gap-6 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-5"
      >
        @for (product of filteredItems; track product.Id) {
          <app-product-card
            [product]="product"
            [currentUrl]="currentUrl"
          ></app-product-card>
        }
      </div>
    </div>
  </section>

  <!-- Pagination -->
  @if (pagination && pagination.TotalCount! > pagination.PageSize!) {
    <div class="my-9 d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="pagination.TotalCount!"
        [(page)]="pageNo"
        [maxSize]="3"
        [rotate]="true"
        [boundaryLinks]="true"
        [pageSize]="pageSize!"
        (pageChange)="page($event)"
      >
      </ngb-pagination>
    </div>
  }
</div>
