<footer class="footer">
  <div class="footer-container container mx-auto">
    <span class="rights">
      © 2026
      <a href="#" class="brand-link">innovationk</a>.
      {{ "allrightsreserved" | translate }}
    </span>

    <ul class="footer-links">
      <li>
        <a href="#">{{ "about" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "licensing" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "privacypolicy" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "contact" | translate }}</a>
      </li>
    </ul>
  </div>
</footer>
