nav {
  padding-bottom: 10px;
}

nav #navbar-language {
  border-radius: 999px;
  border: 1px solid var(--color-border);
  backdrop-filter: blur(4px);
  background-color: var(--color-bg);
}

.userIcon {
  color: var(--color-secondary);
  font-size: 1.4rem;
  transition: all 0.5s;

  &:hover {
    color: var(--color-primary);
    transform: scale(1.2);
  }
}

.cart {
  .fa-cart-shopping {
    font-size: 1.4rem;
    color: var(--color-primary);
    transition: all 0.5s;
  }

  &:hover .fa-cart-shopping {
    color: var(--color-secondary);
    transform: scale(1.2);
  }
}

.dropdown {
  position: relative;

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 130px;
    background-color: var(--color-bg);
    border-radius: 10px;
    box-shadow: 0 4px 12px var(--color-shadow);
    z-index: 1000;
    right: -32px;
    left: auto;
    padding: 0px;
  }

  .dropdown-menu.show {
    display: block;
  }

  html[dir="rtl"] & .dropdown-menu {
    right: auto;
    left: 0;
  }
}

.dropdown-menu li,
.dropdown-menu button,
.dropdown-menu a.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  width: 100%;
  border: none;
  font-size: 15px;
  font-weight: 500;
  color: var(--color-text);
  text-decoration: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.dropdown-menu li:hover,
.dropdown-menu button:hover,
.dropdown-menu a.nav-link:hover {
  background-color: var(--color-border);
  color: var(--color-primary);
  border-radius: 10px;
}

.dropdown-menu i {
  font-size: 16px;
  color: #dc3545;
}

.guest .container {
  margin-top: 100px;
}

.logged-in .container {
  margin-top: 70px;
}

@media (max-width: 768px) {
  nav#navbar-language {
    border-radius: 10px !important;
    border: 1px solid var(--color-border) !important;
    backdrop-filter: none !important;
    background-color: var(--color-bg) !important;
    padding: 10px !important;
  }

  .userIcon {
    font-size: 1.2rem !important;
    color: var(--color-secondary) !important;
  }

  .cart .fa-cart-shopping {
    font-size: 1.2rem !important;
    color: var(--color-primary) !important;
  }

  .cart .cartCounter {
    top: -8px !important;
    left: 8px !important;
    font-size: 10px !important;
    padding: 0px 4px !important;
  }

  .dropdown .dropdown-menu {
    width: 100px !important;
    right: 0 !important;
    font-size: 13px !important;
  }

  .guest .container {
    margin-top: 50px !important;
  }

  .logged-in .container {
    margin-top: 40px !important;
  }
}
