<div class="container m-auto px-4 sm:px-6">
  <section>
    <div class="w-full mt-8 md:mt-16 products">
      <div class="heading text-center">
        <h3
          class="font-weight-bolder font-serif text-2xl sm:text-3xl md:text-4xl text-base"
        >
          {{ "homecomponent.Shopamongmanyproducts" | translate }}
        </h3>
        <p class="mb-6 md:mb-8 mt-2 text-muted text-sm sm:text-base">
          {{ "homecomponent.enjoythemostpopularproducts" | translate }}
        </p>
      </div>

      <div class="search-wrapper m-auto relative">
        <input
          type="search"
          [(ngModel)]="text"
          class="form-control search-input"
          [placeholder]="'homecomponent.searchbyproductname' | translate"
        />
        <button class="search-btn" type="button" aria-label="Search">
          <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </button>
      </div>

      <div
        class="section-content mt-16 grid gap-6 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-5"
      >
        @for (product of filteredItems; track product.Id) {
          <app-product-card
            [product]="product"
            [currentUrl]="currentUrl"
          ></app-product-card>
        }
      </div>
    </div>
  </section>

  @if (pagination && pagination.TotalCount! > pagination.PageSize!) {
    <div class="my-9 flex justify-center">
      <ngb-pagination
        [collectionSize]="pagination.TotalCount!"
        [(page)]="pageNo"
        [maxSize]="3"
        [rotate]="true"
        [boundaryLinks]="true"
        [pageSize]="pageSize"
        (pageChange)="page($event)"
      >
      </ngb-pagination>
    </div>
  }
</div>
