<section class="login-section">
  <div class="login-wrapper">
    <div class="login-card" style="width: 50%">
      <h2 class="login-title font-semibold font-serif">
        {{ "registerNewAccount" | translate }}
      </h2>
      <form class="login-form" [formGroup]="registerForm" (ngSubmit)="submit()">
        <div class="input-group">
          <app-store-input
            [type]="'text'"
            [control]="this.registerForm.get('userName')!"
            [placeholder]="'username'"
            [label]="'username'"
          >
          </app-store-input>
        </div>

        <div class="input-group">
          <app-store-input
            [control]="this.registerForm.get('email')!"
            [placeholder]="'enteryouremail'"
            [label]="'email'"
          ></app-store-input>
        </div>

        <div class="input-group">
          <app-store-input
            [type]="'password'"
            [control]="this.registerForm.get('password')!"
            [placeholder]="'password'"
            [label]="'password'"
          >
          </app-store-input>
        </div>
        <div class="col-12 mt-3">
          <app-submit-button
            [buttonText]="'registernow'"
            [isDisabled]="registerForm.invalid"
            (btnClick)="submit()"
          >
          </app-submit-button>
        </div>

        <hr class="divider" />

        <p class="text-center">
          {{ "alreadyamember?" | translate }}
          <a routerLink="/auth/login" class="links text-primary">
            {{ "loginnow" | translate }}
          </a>
        </p>
      </form>
    </div>
  </div>
  <div class="image">
    <img src="./assets/images/Background/Auth.png" class="" alt="" />
  </div>
</section>
