<section class="max-w-7xl mx-auto space-y-8" dir="rtl">
  <div class="app-toolbar mb-1 d-flex flex-stack flex-wrap align-items-center">
    <div class="page-title">
      <h1 class="page-heading d-flex fw-bold fs-3 my-0 font-serif">
        {{ "ALL_ORDERS" | translate }}
      </h1>
    </div>
  </div>

  <form [formGroup]="filtersForm" class="mb-5">
    <div class="row g-2 align-items-center">
      <div class="col-md-3">
        <app-store-input
          [control]="this.filtersForm.get('fromDate')!"
          [type]="'date'"
          [placeholder]="'fromDate'"
          [label]="'fromDate'"
        >
        </app-store-input>
      </div>

      <div class="col-md-3">
        <app-store-input
          [control]="this.filtersForm.get('toDate')!"
          [type]="'date'"
          [placeholder]="'toDate'"
          [label]="'toDate'"
        >
        </app-store-input>
      </div>
      <div class="mt-9 col-md-3">
        <button
          type="button"
          [disabled]="!hasFiltersSelected"
          class="btn btn-primary"
          (click)="applyFilter()"
        >
          {{ "apply" | translate }}
        </button>

        <button
          *ngIf="showClearFilters"
          type="button"
          class="btn btn-danger ms-3"
          (click)="clearFilters()"
        >
          {{ "clear" | translate }}
        </button>
      </div>
    </div>
  </form>

  <div>
    <div class="space-y-2">
      <p-tabs [(value)]="value">
        <p-tablist>
          @for (tab of tabs; track tab.id) {
            <p-tab [value]="tab.id">{{ tab.title }}</p-tab>
          }
        </p-tablist>
        <p-tabpanels>
          @for (tab of tabs; track tab.id) {
            <p-tabpanel [value]="tab.id">
              <h2 class="text-lg font-bold">{{ tab.title }}</h2>
            </p-tabpanel>
          }
        </p-tabpanels>
      </p-tabs>
    </div>
  </div>
</section>
