<section class="login-section">
  <div class="image">
    <img
      src="./assets/images/Background/password-reset-icon-flat-vector-design_116137-4571.avif"
      alt="Auth Background"
    />
  </div>
  <div class="login-wrapper">
    <div class="login-card">
      <h2 class="login-title font-semibold font-serif">
        {{ "resetPassword" | translate }}
      </h2>

      <form
        *ngIf="resetForm"
        class="login-form"
        [formGroup]="resetForm"
        (ngSubmit)="sendData()"
      >
        <div class="col-12">
          <app-store-input
            [label]="'auth.login.username'"
            [placeholder]="'auth.login.placeholders.username'"
            [control]="resetForm.get('userName')!"
          >
          </app-store-input>
        </div>

        <div class="col-12 mt-3">
          <app-store-input
            [type]="'password'"
            [label]="'oldPassword'"
            [placeholder]="'oldPassword'"
            [control]="resetForm.get('oldPassword')!"
          >
          </app-store-input>
        </div>

        <div class="col-12 mt-3">
          <app-store-input
            [type]="'password'"
            [label]="'newPassword'"
            [placeholder]="'newPassword'"
            [control]="resetForm.get('newPassword')!"
          >
          </app-store-input>
        </div>

        <div class="col-12 mt-4">
          <app-submit-button
            [buttonText]="'restpassword'"
            [isDisabled]="resetForm.invalid"
            (btnClick)="sendData()"
          >
          </app-submit-button>
        </div>

        <hr class="divider" />

        <p class="text-center">
          {{ "auth.login.notamember" | translate }}
          <a routerLink="/auth/register" class="links text-blue-500">
            {{ "auth.login.registernow" | translate }}
          </a>
        </p>
      </form>
    </div>
  </div>
</section>
