<section class="login-section flex min-h-screen items-center justify-center">
  <div class="image-wrapper hidden md:flex items-center justify-center">
    <img
      src="./assets/images/Background/password-reset-icon-flat-vector-design_116137-4571.avif"
      alt="Auth Background"
      class="auth-img"
    />
  </div>

  <div class="login-wrapper w-full">
    <div class="login-card mx-auto">
      <h2
        class="login-title font-semibold font-serif text-center md:text-start"
      >
        {{ "resetPassword" | translate }}
      </h2>

      @if (resetForm) {
        <form
          class="login-form mt-4"
          [formGroup]="resetForm"
          (ngSubmit)="sendData()"
        >
          <div class="col-12">
            <app-store-input
              [label]="'auth.login.username'"
              [placeholder]="'auth.login.placeholders.username'"
              [control]="resetForm.get('userName')!"
            >
            </app-store-input>
          </div>

          <div class="col-12 mt-3">
            <app-store-input
              [type]="'password'"
              [label]="'oldPassword'"
              [placeholder]="'oldPassword'"
              [control]="resetForm.get('oldPassword')!"
            >
            </app-store-input>
          </div>

          <div class="col-12 mt-3">
            <app-store-input
              [type]="'password'"
              [label]="'newPassword'"
              [placeholder]="'newPassword'"
              [control]="resetForm.get('newPassword')!"
            >
            </app-store-input>
          </div>

          <div class="col-12 mt-4">
            <app-submit-button
              [buttonText]="'restpassword'"
              [isDisabled]="resetForm.invalid"
              (btnClick)="sendData()"
            >
            </app-submit-button>
          </div>

          <hr class="divider my-4" />

          <p class="text-center text-sm sm:text-base">
            {{ "auth.login.notamember" | translate }}
            <a
              routerLink="/auth/register"
              class="links text-blue-500 hover:underline"
            >
              {{ "auth.login.registernow" | translate }}
            </a>
          </p>
        </form>
      }
    </div>
  </div>
</section>
